.grid .card {
  width: fit-content;
}

.card:hover .album-image:first-child {
  margin-left: 0;
  transform: translate(-0.5rem, -0.3rem) rotate(-30deg);
}

.card:hover .album-image:nth-child(2) {
  transform: translateY(-1rem);
}

.card:hover .album-image:nth-child(3) {
  transform: translate(0.5rem, -0.3rem) rotate(30deg);
}

.album-image {
  width: 5rem;
  height: 5rem;
  margin-left: -3rem;
  border-radius: 20px;
  transition: transform 0.25s ease;
}

.album-image:first-child {
  margin-left: 0;
  transform: rotate(-20deg);
}

.album-image:nth-child(2) {
  transform: translateY(-0.5rem)
}

.album-image:nth-child(3) {
  transform: rotate(20deg);
}

.album-images-wrapper {
  display: flex;
  flex-flow: row;
  margin: 1rem;
  gap: 2rem
}

.top-text-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 0.30rem;
}