.card {
  width: fit-content;
  border: 0.5px solid;
  border-radius: 15px;
  background: #dbeafe;
  display: flex;
  flex-flow: column;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem
}

.album-image {
  width: 5rem;
  height: 5rem;
  margin-left: -3rem;
  border-radius: 20px;
}

.album-image:first-child {
  margin-left: 0;
  transform: rotate(-20deg);
}

.album-image:nth-child(2) {
  transform: translateY(-0.5rem)
}

.album-image:nth-child(3) {
  transform: rotate(20deg);
}

.album-images-wrapper {
  display: flex;
  flex-flow: row;
  margin: 1rem;
  gap: 2rem
}