.main-image {
  object-fit: cover;
  height: 7.5rem;
  margin-left: 5px;
  margin-right: 5px;

}

.person-image {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 25px;
  margin-left: -0.5rem
}

.person-image:first-child {
  margin-left: 0;
}

.people-images-wrapper {
  display: flex;
  flex-flow: row;
  gap: -0.5rem;
}

.date-text {
  opacity: 50%;
}

.photo-top {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 0.30rem;
}

.card-caption {
  margin: 0.30rem;
}

.photo-hover:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
