.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(139, 223, 246);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 700;
  height: 50px;
  border-radius: 20px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.navigation-span {
  margin-left: 2rem;
}

.grid {
  display: flex;
  flex-flow: row;
  gap: 10px;
  padding: 10px;
  align-items: start;
}