.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(139, 223, 246);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 700;
  height: 50px;
  border-radius: 20px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;

}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}

.navigation-span {
  margin-left: 2rem;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0;
}

.grid {
  flex: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-items: start;
  background-color: rgb(0, 136, 255);
  margin: 0.3rem;
  border-radius: 20px;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.album-text {
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  width: fit-content;
  height: 1rem;
  justify-content: center;
  padding: 0 0.3rem;
}

.card {
  width: 12.5rem;
  border: 0.5px solid;
  border-radius: 15px;
  background: #dbeafe;
  display: flex;
  flex-flow: column;
  font-size: 0.8rem
}

.add-delete-edit-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px
}

.edit-remove-container > *,
.add-delete-edit-wrapper > .add-btn {
  border: 1px solid;
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  transition: transform 0.25s ease;
}

.add-delete-edit-wrapper > .add-btn:hover {
  transform: translate(0.5rem, -0.3rem) scale(1.5);
}

.edit-remove-container > *:hover {
  transform: translate(-0.5rem, -0.3rem) scale(1.5);
}

.edit-remove-container:has(.remove-btn:hover) .edit-btn {
  transform: translateX(-1rem)
}

.add-btn {
  background-color: rgb(75, 239, 75);
}

.remove-btn {
  background-color: rgb(244, 75, 75);
}

.edit-btn {
  background-color: rgb(238, 242, 0);
}